
#wni {
	background-color: white;
  border: 1px solid black;
  width: 150px;
 	height: 40px;
	color: black;
	font-size: 13px;
	text-align: center;
	font-family: 'Bungee Hairline';
justify-self: center;
}

.inputs {
	height: 75vh;
	width: 75vw;
  display: grid;
margin: 0 auto 0 auto;


}
.item {
	 margin: 20px;
 }

 #itIs {
	font-family: 'Bungee Hairline';
  display: none;
 } 

 #itIsnt {
	font-family: 'Bungee Hairline';
  display: none;
 }

.button {
	font-family: 'Bungee Hairline';

}

#reset {
	font-family: 'Bungee Hairline';

}