body {
	font-family: 'Bungee Hairline';

}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.inputs {
	height: 75vh;
	width: 75vw;
  display: grid;
  margin: 0 auto 0 auto;
}
#wni {
	background-color: white;
  border: 1px solid black;
  width: 150px;
 	height: 40px;
	color: black;
	font-size: 13px;
	text-align: center;
	font-family: 'Bungee Hairline';
  justify-self: center;
}


.item {
	 margin: 20px;
 }

 #itIs {
	font-family: 'Bungee Hairline';
	display: none;
	justify-self: center;
 } 

 #itIsnt {
	font-family: 'Bungee Hairline';
	display: none;
	justify-self: center;
 }

.button {
	font-family: 'Bungee Hairline';
font-size: 20px;
border-radius: 28px;
	text-shadow: 3px 2px 1px #9daef5;
	box-shadow: 6px 5px 24px #666666;
}

	.button:hover {
		background: gray;
		color: white;
	}

#reset {
	font-family: 'Bungee Hairline';

}